<% include ../partial/header %>

<div class="container-fluid">
    <div class="row">
        <% include ../partial/sidebar%>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Activity</h1>
        </div>

        <h2>FROM</h2>
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">
                     


                </div>
                <br />
            </div>
            <div class="card">
                <div class="card-body">
                     


                </div>
            </div>
        </div>


<% include ../partial/endsidebar %>
<% include ../partial/footer %>